doctype html
html
    head
        meta(charset='UTF-8')
        title feedmap
        link(rel='stylesheet', href='/styles.css')

    body

    p.boxsmaller New Feedmap Created!

    h1 Feedmap: "#{feedmap_name}"
    
    p.boxsmaller <b>Public Key:</b> #{feedmap_pubkey}
    p.boxsmaller <b>Private Key:</b> #{private_key}
    p.boxsmaller <b>Map URL:</b> #{map_url}
