doctype html
html
    head
        meta(charset='UTF-8')
        title feed-mamp
        link(rel='stylesheet', href='/styles.css')

div.container
    form(action='/addtask' method='POST')
        fieldset
            h2 Add New Feeds
            //p Enter in the feed keys you'd like to display, one at a time:
            input#newtask(type='text' name='newfeed' placeholder='add new feed')
            br
            button(type='submit') Add Feed
            br
            h2 Feeds
            p 
                each feed in feeds
                    ul
                        li= feed.feedkey