doctype html
html
    head
        meta(charset='UTF-8')
        title Bayou
        link(rel='stylesheet', href='/style.css')

//h1 data.pvos.org

p.box Data services & experiments at <a href="">Pioneer Valley Open Science</a>

p.subheading <a href="/co2/">Bayou-CO2: Easier Open Source CO2 Monitoring</a>

p.blurb We created Bayou-CO2 when inspired by recent work (e.g. by <a href="https://www.medrxiv.org/content/10.1101/2020.09.09.20191676v1.full.pdf">Peng and Jimenez, Sep 9 2020</a>) indicating that monitoring indoor CO2 levels might (in some contexts) help to assess the risk of airborne SARS-CoV-2 transmission. Try it out <a href="/feedmap">here</a>.

