doctype html
html
    head
        meta(charset='UTF-8')
        title feed-mamp
        link(rel='stylesheet', href='/styles.css')
        script(src='https://cdn.jsdelivr.net/npm/luxon@1.25.0/build/global/luxon.min.js')
        script(src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3')
        //script(src='https://cdn.jsdelivr.net/npm/luxon@1.22.1')
        script(src='https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@0.2.1')

    body
        div
            form(action='/addtask' method='POST')
                    fieldset
                        h2 Visualize Bay-CO2 Feeds:
                        p.blurb Note: x and y are measured in pixels; (0,0) is at top left.
                        //
                        //p Enter in the feed keys you'd like to display, one at a time:
                        input#newtask(type='text' name='newfeed' placeholder='Feed key')
                        input#xposition(type='text' name='xposition' placeholder='x position')
                        input#xposition(type='text' name='xposition' placeholder='y position')
                        button(type='submit') Add Feed
                        
                        
        div.flex-container(id='pop')
            div.flex-child
                each val, i in feeds
                    p.boxsmaller !{val.feedkey}
                    canvas(id='chart'+i height='100px')
            div.flex-child
                img(src=map_url)
                

                        
        script(src='/js/feedmap.js')

        script.  
            var bdata = !{JSON.stringify(bayoudata)};
            for (i=0; i<bdata.length;i++) {
                var chartid = "chart"+String(i);
                makeChart(chartid,bdata[i],"co2");
            }